<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>WebScraping</title>
</head>
<body>
    <h1 style='text-align:center;'> Ejemplo de webscraping <br/> {{ sitioWeb }}</h1>
    <p>Flask es un “micro” Framework escrito en Python y concebido para facilitar el desarrollo de
        Aplicaciones Web bajo el patrón MVC.</p>
    <p>Beautiful Soup es una biblioteca de Python que utiliza el parser de html/xml preinstalado y
        convierte una página web/html/xml en un árbol que consta de etiquetas, elementos, atributos
        y valores.</p>
    <p>El objetivo de esta aplicación es conecer el uso básido de esta librería.</p>
    <a href="pccomponentes"><button>PcCompontens</button></a>
</body>
</html>